<header class=text-center">
	<div class="jumbotron mainBanner">
		<img id="banner" src="https://i.pinimg.com/originals/5b/9d/c0/5b9dc0d4d740e96f6452495766311877.jpg">
	</div>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col col-lg-1"></div>
      <div class="col col-lg-5">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div class="form-group row">
                <div class="col-sm-5">
                  <button type="button" class="btn btn-success" disabled>{{this.burger_name}}</button>
                </div>
                <div class="col-sm-3">
                  <form action="burgers/update/devour/{{this.id}}?_method=PUT" method="PUT">
                    <button type="submit" class="btn btn-outline-danger" id="devour">Devour it!</button>
                  </form>
                </div>            
            </div>

          {{/unless}}
        {{/each}}
      </div>

      <div class="col col-lg-5">
        {{#each burgers}}
          {{#if this.devoured}}
            <div>
              <div>
                 <button type="button" id="devouredBurger" class="btn btn-outline-secondary" disabled>{{this.burger_name}}</button>
              </div>

            </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="col col-lg-1"></div>
    </div>
  </div>
</main>

<div class="row">
   <div class="col col-sm-3"></div>
	<div class="col col-sm-6" id="add">
  	 <h2>Add A Burger To The Menu</h2>
     <form action="/burgers" method="POST">
        <input class="form-control" type="text" id="burger-text" name="burger_name">
        <button type="submit" class="btn btn-secondary" id="addb">Add a burger</button>
      </form>
	</div>
   <div class="col col-sm-3"></div>
</div>


